{% extends "base.html" %}
{% block content %}
<div>
    <!-- Masthead-->
    <section class="masthead">
        <div class="container mt-5 h-100 align-items-center">
            <div class="mx-auto text-center">
                <img class="logosize imgsize" src="/static/assets/img/aws.png">
                <h1 class="mx-auto my-0 text-uppercase heading">Certificate Tracker</h1>
                <h2 class="text-black-50 mx-auto mt-2 mb-5">Helps to create, manage and track your Employees' certificates</h2>
                <section class="contact-section ">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-4 mb-3 mb-md-0 mt-4">
                                <div class="card py-4 h-100 shadow-lg p-3 mb-5 bg-white rounded" >
                                    <div class="card-body text-center">
                                        <img class="card-img-top" src="/static/assets/img/sin1.jpg" alt="Card image cap">
                                        <h4 class="text-uppercase m-0">Sin1</h4>
                                        <hr class="my-4" />
                                        <div class="small text-black-50">Demo App , Some description.</div>
                                            <a href="sin1/" target= "_blank" class="btn btn-primary mt-4">SIN1</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3 mb-md-0 mt-4">
                                <div class="card py-4 h-100 shadow-lg p-3 mb-5 bg-white rounded" >
                                    <div class="card-body text-center">
                                        <img class="card-img-top" src="/static/assets/img/sin2.jpg" alt="Card image cap">
                                        <h4 class="text-uppercase m-0 padding">Sin2</h4>
                                        <hr class="my-4" />
                                        <div class="small text-black-50">Demo App , Some description.</div>
                                            <a href="#" target= "_blank" class="btn btn-primary mt-4">SIN2</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3 mb-md-0 mt-4">
                                <div class="card py-4 h-100 shadow-lg p-3 mb-5 bg-white rounded" >
                                    <div class="card-body text-center">
                                        <img class="card-img-top" src="/static/assets/img/sin3.jpg" alt="Card image cap">
                                        <h4 class="text-uppercase m-0">Sin3</h4>
                                        <hr class="my-4" />
                                        <div class="small text-black-50">Demo App , Some description.</div>
                                            <a href="#" target= "_blank" class="btn btn-primary mt-4">SIN3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- Footer--> 
    <footer class="footer small text-center text-black-50">
        <div class="container">Copyright © AWS 2020</div>
    </footer>
</div>
{% endblock content %}

